<p style="color: green"><%= notice %></p>
<% content_for :title, "Coins" %>
<h1>Coins</h1>
<div id="coins">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Description</th>
        <th>Acronym</th>
        <th>Url image</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render @coins %>
    </tbody>
  </table>
</div>
<%= link_to "New coin", new_coin_path %>
